<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="60" shutdownHook="disable">
    <Properties>
        <Property name="LOG_PREFIX">${sys:logging.path}/java-im</Property>
        <Property name="HTTP_LOG_PREFIX">${sys:logging.path}/java-http</Property>
        <Property name="MQTT_LOG_PREFIX">${sys:logging.path}/java-mqtt</Property>
        <Property name="SERVER_LOG_PREFIX">${sys:logging.path}/java-server</Property>
        <Property name="DB_LOG_PREFIX">${sys:logging.path}/java-db</Property>
        <Property name="PATTERN_SUFFIX">-%d{yyyyMMdd}.log</Property>
    </Properties>

    <Appenders>
        <RollingRandomAccessFile name="DB"
            fileName="${DB_LOG_PREFIX}.log"
            filePattern="${DB_LOG_PREFIX}${PATTERN_SUFFIX}"
            immediateFlush="false">
            <PatternLayout pattern="%d [%-5p][%t] %c - [%X{MQTT-TraceId},%X{MQTT-UserId}] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="HTTP"
          fileName="${HTTP_LOG_PREFIX}.log"
          filePattern="${HTTP_LOG_PREFIX}${PATTERN_SUFFIX}"
          immediateFlush="false">
            <PatternLayout pattern="%d [%-5p][%t] %c - [%X{MQTT-TraceId},%X{MQTT-UserId}] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="MQTT"
          fileName="${MQTT_LOG_PREFIX}.log"
          filePattern="${MQTT_LOG_PREFIX}${PATTERN_SUFFIX}"
          immediateFlush="false">
            <PatternLayout pattern="%d [%-5p][%t] %c - [%X{MQTT-TraceId},%X{MQTT-UserId}] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="SERVER"
          fileName="${SERVER_LOG_PREFIX}.log"
          filePattern="${SERVER_LOG_PREFIX}${PATTERN_SUFFIX}"
          immediateFlush="false">
            <PatternLayout pattern="%d [%-5p][%t] %c - [%X{MQTT-TraceId},%X{MQTT-UserId}] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="LOGFILE"
                                 fileName="${LOG_PREFIX}.log"
                                 filePattern="${LOG_PREFIX}${PATTERN_SUFFIX}"
                                 immediateFlush="false">
            <PatternLayout pattern="%d [%-5p][%t] %c - [%X{MQTT-TraceId},%X{MQTT-UserId}] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="LOGFILEERROR"
                                 fileName="${LOG_PREFIX}-error.log"
                                 filePattern="${LOG_PREFIX}-error${PATTERN_SUFFIX}">
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d [%-5p][%t] %c - [%X{MQTT-TraceId},%X{MQTT-UserId}] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>

        <Async name="LOGASYNC">
            <AppenderRef ref="LOGFILE"/>
            <AppenderRef ref="LOGFILEERROR"/>
        </Async>

        <Async name="DB_LOGASYNC">
            <AppenderRef ref="DB"/>
            <AppenderRef ref="LOGFILEERROR"/>
        </Async>

        <Async name="HTTP_LOGASYNC">
            <AppenderRef ref="HTTP"/>
            <AppenderRef ref="LOGFILEERROR"/>
        </Async>

        <Async name="MQTT_LOGASYNC">
            <AppenderRef ref="MQTT"/>
            <AppenderRef ref="LOGFILEERROR"/>
        </Async>

        <Async name="SERVER_LOGASYNC">
            <AppenderRef ref="SERVER"/>
            <AppenderRef ref="LOGFILEERROR"/>
        </Async>

    </Appenders>

    <Loggers>
        <Logger name="HTTP" level="INFO" additivity="false">
            <AppenderRef ref="HTTP_LOGASYNC"/>
        </Logger>

        <Logger name="DB" level="INFO" additivity="false">
            <AppenderRef ref="DB_LOGASYNC"/>
        </Logger>

        <Logger name="MQTT" level="INFO" additivity="false">
            <AppenderRef ref="MQTT_LOGASYNC"/>
        </Logger>

        <Logger name="SERVER" level="debug" additivity="false">
            <AppenderRef ref="SERVER_LOGASYNC"/>
        </Logger>

        <Logger name="io.moquette" level="INFO" additivity="false">
            <AppenderRef ref="LOGASYNC"/>
        </Logger>

        <Logger name="com.xiaoleilu" level="INFO" additivity="false">
            <AppenderRef ref="LOGASYNC"/>
        </Logger>

        <Logger name="io.netty.channel" level="error"/>

        <Root level="INFO">
            <AppenderRef ref="LOGASYNC"/>
        </Root>
    </Loggers>
</Configuration>
